<html>
        <head>
            <title>Django blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Вчера стало известно, что HTC выпустит Android N для ключевых смартфонов: HTC 10, HTC One A9 и HTC One M9. К сожалению, точная дата не была оглашена. Между тем в сети появилась информация, согласно которой компания Samsung готовится выпустить соответствующее обновление для своих флагманов уже в четвёртом квартале этого года.</p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post</a></h2>
                <p>Долгое время в сети ходят слухи о беспилотном летательном аппарате от Xiaomi, и наконец сегодня компания представила первый официальный тизер собственного дронаДолгое время в сети ходят слухи о беспилотном летательном аппарате от Xiaomi, и наконец сегодня компания представила первый официальный тизер собственного дрона.</p>
            </div>
        </body>
    </html>